<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{admin/base::nav}"></div>
    <div class="heading" style="margin-bottom: 30px">
        <a href="/admin/code" style="text-decoration: none"><h1 class="text-center">英雄联盟小助手后台管理</h1></a>
    </div>
    <div class="menu">
        <div class="input-group" style="margin: 25px 10px;">
            <span class="input-group-btn">
                 <label class="btn btn-default input-lg" for="option">操作:</label>
            </span>
            <select class="form-control input-lg" id="option">
                <option value="1">Code数据查看</option>
            </select>
        </div>
        <div class="input-control" style="margin: 25px 10px;">
            <input type="button" class="form-control input-lg" onclick="submit()" value="查询">
        </div>
    </div>
    <table class="table table-bordered hide" id="code">
        <thead>
        <tr>
            <th>ID</th>
            <th>查询码</th>
            <th>次数</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="app1">
        </tbody>
    </table>
    <table class="table table-bordered hide" id="cookie">
        <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
            <th>添加时间</th>
        </tr>
        </thead>
        <tbody id="app2">
        </tbody>
    </table>
    <table class="table table-bordered hide" id="search">
        <thead>
        <tr>
            <th>ID</th>
            <th>查询码ID</th>
            <th>名称</th>
            <th>大区</th>
            <th>QQ</th>
            <!--<th>查询时间</th>-->
        </tr>
        </thead>
        <tbody id="app3">
        </tbody>
    </table>
</div>
<script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
<script src="//cdn.bootcss.com/zui/1.8.1/js/zui.min.js"></script>
<script>
    var Tip_Success = new $.zui.Messager({icon: 'bell', type: 'success'});
    var Tip_Info = new $.zui.Messager({icon: 'bell', type: 'info'});
    var Tip_Danger = new $.zui.Messager({icon: 'bell', type: 'danger'});
    let $code = $("#code");
    let $search = $("#search");
    let $cookie = $("#cookie");
    let $app1 = $("#app1");




    function submit() {
        $.post("/api/admin/query", function (ret) {
            if (ret.code === 200) {
                $code.removeClass("hide");
                $search.addClass("hide");
                $cookie.addClass("hide");
                let data = ret.data;
                let length = data.length;
                $app1.html("");
                for (let i = 0; i < length; i++) {
                    let str = "<tr>" +
                        "<td>" + data[i].id + "</td>" +
                        "<td>" + data[i].code + "</td>" +
                        "<td>" + data[i].times + "</td>" +
                        "<td>" + data[i].note + "</td>" +
                        "<td><button onclick='deleteCode(\""+data[i].code+"\")'>删除</button></td>" +
                        "</tr>";
                    $app1.append(str);
                }
                Tip_Success.show(ret.message);
            }
        });
    }
    function deleteCode(code) {
        var del = confirm("确定要删除Code:" + code);
        if (del) {
            $.post("/api/admin/code/delete", {
                "code": code,
                "times": 0
            }, function (ret) {
                if (ret.code === 200) {
                    Tip_Success.show(ret.message);
                } else {
                    Tip_Danger.show("ret.message");
                }
            });
        } else {
            Tip_Info.show("取消删除");
        }
    }
</script>
</body>
</html>