<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base::head}"></head>
<body>

<div class="container-fluid">
    <div th:replace="~{base::nav}"/>
    <div class="heading" style="margin-bottom: 30px">
        <h1 class="text-center">英雄联盟小助手</h1>
    </div>
    <div class="card">
        <div class="card-heading"><strong>备注</strong></div>
        <div class="card-content text-muted">有什么建议可以联系作者<br>作者<a href="http://qm.qq.com/cgi-bin/qm/qr?k=aKCrge9RgZXwjNyvpCQbmZ7ZpJh2q8Lk">QQ:2218890669</a></div>
        <div class="card-actions">
            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 个人觉得有用</div>
        </div>
    </div>
</div>
</div>
</body>
</html>